@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: 'Kiwi Maru', serif;
  
}
.div-nav{
  background: rgb(237, 237, 237);

}
.nav-grid{
    display: grid;
    grid-template-columns: 1fr repeat(5, fit-content(60px));
    grid-gap: 30px;
    justify-content: center;
    justify-items: end;
    list-style: none;
    height: 60px;
    align-items: center;

}
.fullwidth{
    grid-column: 1 / 2;
    justify-self: start;
    margin-left: 35px;
}

.nav-grid li a{
    text-decoration: none;
    overflow: hidden;
    list-style-type: none;
    color: var(--mainBlack);
}
.nav-icon {
  font-size: 1.5rem;
  margin-right: 12px;
}
.cart-items {
  position: absolute;
  top: -2px;
  right: 2px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}

